
*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

    font-size: 13px;
    font-family:arial,'pingfang sc',stheiti,'microsoft yahei',sans-serif ;
    background: #fff;

    z-index: 10;
    overflow-y: scroll;
}
.page-header{
    /* 创建导航菜单一般用以下两行命令进行flex布局 */
    display: flex;
    justify-content: space-between;

    height: 24px;
    width: 100%;
    padding: 11px 0;

    line-height: 24px;
    z-index: 2000;
}

.header-nav span.nav-web{
    display: inline-block;

    margin-left: 20px;
    color: #ff5a34;
    font-weight: 700;
    text-decoration: none;
}
.header-nav a{
    display: inline-block;
    margin-left: 20px; 
    color: rgba(0,0, 0, .75);
    text-decoration: none;
    transition: color 0.25s;
}
.page-header .header-nav a.n:hover{
    color: #ff5a34;
    text-decoration: none;
}
.header-nav .show-more-box{
    display: inline-block;
    position: relative;
}
.header-nav .show-more-box a.show-more-title{
    position: relative;
    padding-right: 10px;   
}
.header-nav a.show-more-title span.title-arr{
    position: absolute;
    right: 0;
    top: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px dashed transparent;
    border-top: 4px solid #666;
    border-right: 4px dashed transparent;
    transition: all 0.25s;
}
.header-nav .show-more-box .show-more-list{
    position:absolute ;
    left: 2px;
    opacity: 0;    
    width: 60px;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    text-align: center;
    line-height: 28px;
    background: #fff;
}

.show-more-box .show-more-list::after{
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-left: 4px dashed transparent;
    border-bottom: 4px solid #fff;
    border-right: 4px dashed transparent;
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
}
.show-more-box .show-more-list .list-item{
    margin-left: 0;
    width: 100%;
    transition: all 0.25s;
}

.header-nav .show-more-box:hover .show-more-title{
    color: #ff5a34;
}

.header-nav .show-more-box:hover .show-more-list{
    position: absolute;
    opacity: 1;    
    width: 60px;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    text-align: center;
    line-height: 28px;
    background: #fff;
}

.show-more-box:hover .show-more-title span.title-arr{
    transform: rotate(180deg);
    border-top: 4px solid #ec1010;
}

.list-item:hover {
    background: #fd6853;
    color: #fff;
}

.header-box{
    display: flex;
    margin: 4px 5px 0 0;
    font-size: 12px;
}
.header-box .box-weather{
    color: rgba(0,0,0,.75);
}
.header-box .box-weather .weather-box img{
    margin: 0 8px;
   position: relative;
   top: 3px;
}

.header-box .line {
    width: 1px;
    height: 14px;
    overflow: hidden;
    background: #e7e7e7;
    margin: 5px 20px 0;
    clear: none;
    border: 0;
}
.header-box a.header-box-no_border{
    position: relative;
    top: 5px;
    padding-left: 8px;
    margin-right: 20px;
    line-height: 14px;
    color: rgba(0,0, 0, .75);
    text-decoration: none;
}

.page-mainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.page-mainer .mainer-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:calc(37vh - 46px);
}
.page-mainer .mainer-logo img{
    width: 440px;
    height: 140px;
}
.page-mainer  .mainer-search-box{
    position: relative;
    margin: 0 auto;
    height: 42px;
    width: 650px;
    padding: 0 154px 0 10px;
    border-radius: 3px;
    border: solid 1px #ababab;
    background: #fff;
    display: flex;
    align-items: center;
}

.page-mainer .mainer-search-box .box-search{
    
    width: 489px;
    height: 18px;
    font-size: 16px;
    color: #333;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    display: block;
    font-family: "arial,'pingfang sc',stheiti,'microsoft yahei',sans-serif";
}

.page-mainer .mainer-search-box .box-inter{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    background-color: #fafafa;
    border-left: 1px solid #e6e6e6;
}

.box-inter .submit-btn{
    display: block;
    width: 99px;
    height: 42px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    font-family: arial,'pingfang sc',stheiti,'microsoft yahei',sans-serif;
    outline: 0;
    border: 0;
    background: transparent;
    border-radius: 0;
}

.page-footer{
    display: flex;
    justify-content: center;   
    padding-bottom: 28px;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    text-align: center;
}
.page-footer .footer-info{
    padding-left: 74px;
}
.page-footer .footer-info .line{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 5px 10px -2px;
    background: #e4e4e4;
}

.page-footer .footer-info a{
    display: inline-block;
    margin: 0;
    color: rgba(0,0,0,.7);
    text-decoration: none;
}
.page-footer .footer-info a:hover{
    transition: color .2s;
    color: rgba(0,0,0,.9);
}

.footer-info a span{
    margin: 4px 5px 0 0;
    display: inline-block;
    position: relative;
    top: 2px;
    width: 13px;
    height: 14px;
    overflow: hidden;
    background-image: url(https://dlweb.sogoucdn.com/pcsearch/web/index/images/ico_ft_8795b8d.gif?v=1e99707e);
    background-repeat: no-repeat;
}
.footer-info a span.icon1{
    background-position: 0 0;
}
.footer-info a span.icon2{
    background-position: 0 -29px;
}
.footer-info a span.icon3{
    background-position: 0 -57px;
}
.page-footer .footer-info a:hover .icon1{
    background-position: 0 -15px;
}
.page-footer .footer-info a:hover .icon2{
    background-position: 0 -43px;
}
.page-footer .footer-info a:hover .icon3{
    background-position: 0 -71px;
}

.page-footer .footer-info .g{
    color: rgba(0,0,0,.5);
}

.page-footer .footer-info a.g i.icon4{
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(https://dlweb.sogoucdn.com/pcsearch/web/index/images/wangan_40d89ca.png?v=be16660a) no-repeat;
}

.page-footer .footer-older{
    width: 86px;
    height: 40px;
    background: url(https://dlweb.sogoucdn.com/pcsearch/web/index/images/fit_older_b3c0b28.png) no-repeat;
    background-size: 86px;
    margin-left: 8px;
    margin-top: 46px;   
}